@include mediaXl {
}

@include mediaLg {
}

@include mediaMd {
	main {
		align-items: center;
		text-align: center;

		.lg-heading {
			line-height: 1;
			margin-bottom: 1rem;
		}
	}

	ul.menu-nav,
	div.menu-branding {
		float: none;
		width: 100%;
		min-height: 0;

		&show {
			transform: translate3d(0, 0, 0);
		}
	}
	.menu-nav {
		height: 70vh;
		transform: translate3d(-100%, 0, 0);
		font-size: 24px;
	}
	.menu-branding {
		height: 30vh;
		transform: translate3d(100%, 0, 0);

		.portrait {
			width: 170px;
			height: 170px;
			background: url(../img/mona-sm.jpg)-35px 0;
		}
	}
}

@include mediaSm {
	main#home h1 {
		margin-top: 10vh;
	}
}
