@import 'config';
@import 'menu';
@import 'mobile';

* {
	box-sizing: border-box;
}
body {
	@include background;
	background-color: $primary-color;
	color: #ffffff;
	height: 100%;
	margin: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	line-height: 1.5;
}
//heading
h1,
h2,
h3 {
	margin: 0;
	font-weight: 500;
	&.lg-heading {
		font-size: 6rem;
	}
	&.sm-heading {
		margin-bottom: 2rem;
		padding: 0.2rem 1rem;
	}
}
a {
	color: white;
	text-decoration: none;
}
header {
	position: fixed;
	//2 is the max (on top)
	z-index: 2;
	width: 100%;
}
.text-secondary {
	color: $secondary-color;
}
main {
	padding: 4rem;
	height: 100%;

	.icons {
		margin-top: 1rem;

		i {
			padding: 0.4rem;

			&:hover {
				color: $secondary-color;
				@include easeOut();
			}
		}
	}
	&#home {
		overflow: hidden;
		h1 {
			margin-top: 30vh;
		}
	}
}
