@import 'config';
@import 'menu';

* {
	box-sizing: border-box;
}
body {
	@include background;
	background-color: $primary-color;
	color: #ffffff;
	height: 100%;
	margin: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	line-height: 1.5;
}
//heading
h1,
h2,
h3 {
	margin: 0;
	font-weight: 500;
	&.lg-heading {
		font-size: 6rem;
	}
	&.sm-heading {
		margin-bottom: 2rem;
		padding: 0.2rem 1rem;
	}
}
a {
	color: white;
	text-decoration: none;
}
header {
	position: fixed;
	//2 is the max (on top)
	z-index: 2;
	width: 100%;
}
.text-secondary {
	color: $secondary-color;
}
main {
	padding: 4rem;
	min-height: calc(100vh-60px);

	.icons {
		margin-top: 1rem;

		i {
			padding: 0.4rem;

			&:hover {
				color: $secondary-color;
				@include easeOut();
			}
		}
	}
	&#home {
		overflow: hidden;
		h1 {
			margin-top: 30vh;
		}
	}
}

//work
.about-info {
	display: grid;
	grid-gap: 50px;
	grid-template-areas: "bioimg bio bio" "job1 job2 job3";
	grid-template-columns: 1fr 1fr 1fr;
}
.bio-image {
	grid-area: bioimg;
	margin: auto;
	border-radius: 50%;
	border: 3px solid $secondary-color;
	width: 350px;
	height: 350px;
}
.bio {
	grid-area: bio;
	font-size: 1.2rem;
}
.job-1 {
	grid-area: job1;
}

.job-3 {
	grid-area: job3;
}
.job {
	background-color: lighten($primary-color, 2);
	padding: 0.5rem;
	border-bottom: $secondary-color 5px solid;
}
//projects
.projects {
	display: grid;
	grid-gap: .7rem;
	grid-template-columns: repeat(3, 1fr);

	img {
		widows: 100%;
		border: 3px white solid;

		&:hover {
			opacity: 0.5;
			border-color: $secondary-color;
			@include easeOut;
		}
	}
}
.btn {
	display: block;
	padding: 2px 5px;
	margin: 5px auto;
}
.btn-light {
	background-color: lighten($primary-color, 30);
	&:hover {
		color: black;
		background-color: white;
		font-size: 1.05em;
	}
}
.btn-dark {
	background-color: darken($primary-color, 30);
	&:hover {
		color: black;
		background-color: white;
		font-size: 1.05em;
	}
}

#main-footer {
	text-align: center;
	padding: 1rem;
	background: darken($primary-color, 4);
	color: $secondary-color;
	height: 100px;
}
@import 'mobile';
